@use "../themes/catppuccin-mocha.scss" as *;

$spacing-1: 0.125rem;
$spacing-2: 0.25rem;
$spacing-3: 0.5rem;
$spacing-4: 1rem;

.menu-bar {
    font-family: "Jetbrains Mono", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: $text;

    background: $base;
    padding: 0 $spacing-4;
}

.menu-bar > box {
    & > .logo {
        // TODO: Hover effect?
    }

    & > .notification-area {
        & > .date-time {
            .time {
                font-weight: 700;
            }
        }

        & > .indicators {
            & > .volume {
                color: $blue;
            }

            & > .mic-volume {
                color: $red;
            }

            & > .battery {
                color: $green;
            }

            & > .memory {
                color: $teal;
            }

            & > .gpu-temperature {
                color: $purple;
            }
        }

        & > .tray {
            & > .notification-button {
                color: $text;
            }
        }
    }
}
